.App {
  text-align: center;
}

/* Common styles for both light and dark modes */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode styles */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Apply styles based on mode */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

